<div class="container" xmlns="http://www.w3.org/1999/html">
  <header style="position: relative;padding-left:8%;">
    <h6>Με στόχο την Αυτόνομη Διαβίωση και Ασφαλή Γήρανση των Ηλικιωμένων, το Σύστημα Οργάνωσης Φροντίδας & Ιατρικής Αρωγής - Σ.Ο.Φ.Ι.Α. ενσωματώνει τεχνητή νοημοσύνη, ρομποτική, ψηφιακούς προσωπικούς βοηθούς, φωνητικά LLMs, έξυπνες κάμερες και αισθητήρες για την παροχή εξατομικευμένης τηλεφροντίδας σε ηλικιωμένους.</h6>

  </header>
  <main>
    <section id="telecare">
      <h5>ΤΗΛΕΦΡΟΝΤΙΔΑ</h5>
      <p class="paragraph">Λειτουργεί με κάμερες και αισθητήρες ΤΝ, στρατηγικά τοποθετημένους σε χώρους διαβίωσης των ηλικιωμένων. Αξιολογεί τις παραμέτρους υγείας και συμπεριφοράς σε πραγματικό χρόνο 24/7, και ενημερώνει ΑΜΕΣΑ για τυχόν ανεπιθύμητες εξελίξεις.
        Ο ωφελούμενος μπορεί να επικοινωνεί, αμφίδρομα και με ανοιχτή ακρόαση, πατώντας το κουμπί έκτακτης ανάγκης χωρίς να χρειάζεται να μετακινηθεί από τη θέση του ή να επιλέξει αριθμό κλήσης.
        Ακόμα και όταν ο ωφελούμενος δεν μπορεί να απαντήσει Η.Σ.Ο.Φ.Ι.Α. προλαμβάνει και αποτρέπει τυχόν επικίνδυνα περιστατικά (πυρετός, πίεση, έμφραγμα, εγκεφαλικό, πτώση κ.α.) στέλνοντας ΑΜΕΣΑ τον φροντιστή, νοσηλευτή, ιατρό,
        και το ασθενοφόρο αν απαιτηθεί η μεταφορά του εκτός μονάδος.
        Οι συγγενείς μπορούν να ενημερώνονται από το Σ.Ο.Φ.Ι.Α. για την πορεία υγείας και συμπεριφοράς του αγαπημένου τους προσώπου, να συνδέονται ζωντανά μαζί του και να συνομιλούν (video κλήση).
      </p>
      <h5> Παραδείγματα:
        Ένα ηλικιωμένο άτομο με καρδιακή νόσο παθαίνει ξαφνική αρρυθμία.</h5>
      <div fxLayout="column" fxLayoutAlign="center center" >
        <li>Η.Σ.Ο.Φ.Ι.Α. ανιχνεύει την αρρυθμία και ενημερώνει αμέσως το νοσηλευτικό προσωπικό, το οποίο ανταποκρίνεται άμεσα και παρέχει την απαραίτητη θεραπεία, προλαμβάνοντας έτσι ένα σοβαρό επεισόδιο.</li>
        <li>Ένα άτομο με νόσο του Alzheimer περπατάει στον ύπνο του και κινδυνεύει να πέσει.</li>
        <li>Η.Σ.Ο.Φ.Ι.Α. ανιχνεύει την κίνηση και ενημερώνει αμέσως το νοσηλευτικό προσωπικό που ανταποκρίνεται άμεσα και προλαμβάνει την πτώση.</li>
        <li>Ένα ηλικιωμένο άτομο αισθάνεται αδιαθεσία και δεν μπορεί να καλέσει βοήθεια.</li>
        <li>Η.Σ.Ο.Φ.Ι.Α. ανιχνεύει την αλλαγή στη συμπεριφορά του ηλικιωμένου, ενημερώνει το νοσηλευτικό προσωπικό, τον θεράποντα ιατρό, ή/και τους συγγενείς αν κριθεί απαραίτητο από τον ιατρό.</li>
      </div>


    </section>

    <section id="digital-skills">
      <h5>ΕΝΙΣΧΥΣΗ ΨΗΦΙΑΚΩΝ ΔΕΞΙΟΤΗΤΩΝ</h5>
      <div style="text-align: center;margin-left:10px" fxLayout="column" fxLayoutAlign="center center" >
      <p>
        <li>Βοηθάει τους ηλικιωμένους να μάθουν και να χρησιμοποιούν τις Τεχνολογίες Πληροφορικής & Επικοινωνίας.</li>
        <li> Παρέχει εκπαίδευση σε βασικές και προχωρημένες ψηφιακές δεξιότητες.</li>
        <li>Εξοικείωση με τις ΤΠΕ για χρήση στην καθημερινή ζωή και την άρση του ψηφιακού αποκλεισμού.</li>
        <li> Ενθάρρυνση για την ενεργό συμμετοχή τους στην κοινωνία.</li>
        <li> Βελτίωση της ποιότητας ζωής αυξάνοντας την ευεξία και την ψυχική υγεία των ηλικιωμένων.</li>
        <li> Μείωση της αίσθησης μοναξιάς και υποστήριξη της μοναχικής διαβίωσης παρέχοντας συντροφικότητα.</li>
        <li>Εξατομικευμένη φροντίδα προσαρμοσμένη στις ανάγκες και τις ιδιαιτερότητες κάθε ατόμου.</li>
        <li> Προώθηση υγιούς και αξιοπρεπούς γήρανσης με ενίσχυση της ασφάλειας και πρόληψη προβλημάτων υγείας.</li>
        <li> Διασφάλιση της αξιοπρέπειας των ηλικιωμένων.</li>
        </p>
      </div>
    </section>

    <section id="memory-stimulation">
      <h5>ΔΙΕΓΕΡΣΗ ΜΝΗΜΗΣ</h5>
      <p class="paragraph">Οι συνεδρίες έχουν παρουσιασθεί στα διεθνή συνέδρια:
        <li>3ο συνέδριο πανεπιστημίου Krems της Αυστρίας (2021)</li>
        <li>AIDEM  (2nd International Symposium on AΙ for Prevention & Intervention in Dementia Care 2022)</li>
          MEDITEC (2nd International Webinar Quote on Dementia and Alzheimer rehabilitation) και περιλαμβάνουν:
        <li>  PRESENTATION OF 'BIKE MEMORIES SERVICE' AT DONAU UNIVERSITY OF KREMS</li>
        <li>VIRTUAL REALITY MEMORIES SERVICE.GR, ΕΙΚΟΝΙΚΗ ΠΕΡΙΗΓΗΣΗ, VR - KERKYRA,  VR MEMORIES)</li>
        <li>ΜΟΥΣΙΚΗ ΚΑΙ ΓΑΣΤΡΟΝΟΜΙΑ (Σ΄ΑΓΑΠΩ ΓΙΑΤΙ ΕΙΣΑΙ ΩΡΑΙΑ,'ΤΗ ΥΠΕΡΜΑΧΩ', 'BΕΤΟVΕΝ', ΑΛΙΚΗ ΒΟΥΓΙΟΥΚΛΑΚΗ, 'ΠΛΕΞΙΜΟ ΧΩΡΙΣ ΒΕΛΟΝΑ', ΣΜΥΡΝΕΪΚΑ ΚΟΥΛΟΥΡΑΚΙΑ)</p>


    </section>
<p class="paragraph">
  Στο πλαίσιο της προστασίας των δικαιωμάτων των ηλικιωμένων, το Υπουργείο Εργασίας θα αναπτύξει και εφαρμόσει πιλοτικά προγράμματα για την πρόληψη της αποϊδρυματοποίησης των ηλικιωμένων. Θα προτείνει σχετικές δράσεις για τα περιφερειακά προγράμματα, σε επίπεδο τοπικής κοινότητας, οι οποίες συμβάλουν στην ενίσχυση των υπηρεσιών κοινωνικής φροντίδας και στην προώθηση της ενεργής γήρανσης όπως προαγωγή ψυχικής υγείας ηλικιωμένων, πρόληψη άνοιας και Alzheimer, τελική κατ΄οίκον φροντίδα κ.λπ. .
      <li>Η Καταπολέμηση του Ψηφιακού Αποκλεισμού για ηλικιωμένους</li>
      <li>Πρόγραμμα προσωπικού βοηθού και κοινωνικού φροντιστή για ηλικιωμένους</li>
      <li>Δράσεις για τη προαγωγή και αγωγή υγείας, την πρόληψη και μακροχρόνια φροντίδα.</li>
      <li>Δράση υποστήριξης μακροχρόνιας φροντίδας σε επίπεδο τοπικής κοινότητας.</li>
      <li>Ενίσχυση Υπηρεσιών Ψυχικής Υγείας.</li>
      </p>
      </main>
</div>
