.container {
  position: absolute;
  top: 80%;
  text-align: center;
  background-color: white;
  margin-bottom: 190px;

}
.li1{
  text-align: center;
  }
.paragraph {
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  color: grey;

}
.h6{
  text-align: start;
}
.telecare2{
  text-align: start;
  padding-left:10px;
  list-style-type: disc;
}

