
<div class="top-wrap.cf" >
  <div fxLayout="row" fxLayoutAlign="end center" >
  <a  mat-button routerLink='/sign-in' > Login </a>
  <a  mat-button routerLink='/register-user' >Sign up </a>
  </div>
</div>
<nav class="navbar" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

  </button>
  <img src="assets/L.png" alt="ΗΣΟΦΙΑ" style="height:80px; width:150px; position:absolute; margin-top:18px; margin-bottom:18px; border-radius:10px; ">

  <ul class="nav-links">
    <li><a routerLink="/home"><h6>Profile</h6></a></li>
    <li><a routerLink="/about"><h6>About</h6></a></li>
  </ul>
</nav>
