.slidetitle{
  position:relative;
  font-family: 'carouseltitle', sans-serif; /* Choose a suitable font */
  background-color: pink; /* Light blue color */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */
  font-size: 18px; /* Adjust the font size */
  letter-spacing: 1px; /* Add some letter spacing */

}
.slidesubtitle{
  position:relative;
  font-family:'carouselsubtitle', sans-serif; /* Choose a suitable font */
  font-size: 15px; /* Adjust the font size */
  background-color: #ADD8E6; /* Light blue color */
  padding: 20px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add rounded corners */

  overflow: hidden;
}
.carousel-container{
  width: 60vw;
  height: 90vh;


}

:host ::ng-deep{
  .image-container {
    height:80%;
    width:30%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .example-card {
    margin:20% 30%;
    justify-content: center;
    min-height:50vh;
    min-width:50vw;

  }
  .image-wrapper {
    overflow: hidden;  /* Hides parts of the image that overflow the container */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper img {
    height: 100%;
    width: 80%;
    padding-left:10%;
    padding-right: 10%;
    min-width: 100%; /* Ensures the image covers the width if it's too narrow */
    min-height: 100%; /* Ensures the image covers the width if it's too narrow */
  }
  .igx-carousel {
    width: 50vw;

  }

  .igx-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: unset;
    background-image: url('/assets/19373.jpg'); /* Set the background image using a URL */
    background-size: cover; /* Cover the entire background with the image */
    background-position: center; /* Center the background image */
    border-radius: 10px; /* Add rounded corners to the div */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }

  .igx-slide img {
    object-fit: fill;
    max-width: 90%;
  }
  @media only screen and (max-width: 700px) {
    .example-card {
      justify-content: center;
      min-height:50vh;
      min-width:70vw;

    }
    .slidesubtitle{
      position:relative;
      font-family:'carouselsubtitle', sans-serif; /* Choose a suitable font */
      font-size: 15px; /* Adjust the font size */
      background-color: #ADD8E6; /* Light blue color */
      padding: 20px 15px; /* Adjust padding as needed */
      border-radius: 5px; /* Add rounded corners */
      width:fit-content;
      overflow: hidden;
    }
    .igx-nav-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      cursor: pointer;
      z-index: 10;
      color: white;
      background: rgba(0, 0, 0, 0.5);

      padding: 30px 30px;

    }


  }








}
